.promo {
  position: relative;
  display: block;
  height: 290px;
  padding: 58px 58px 43px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background-image:
      image-set(
        "../../images/promo/promo-bg@1x.webp" 1x type("image/webp"),
        "../../images/promo/promo-bg@1x.jpg" 1x type("image/jpeg"),
        "../../images/promo/promo-bg@2x.webp" 2x type("image/webp"),
        "../../images/promo/promo-bg@2x.jpg" 2x type("image/jpeg"),
      ),
      linear-gradient(90deg, #515055, #403f44);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    background-color: rgba(#68b738, 0.85);
  }
}
